



.post-date{
	background: #f4f4f4;
	padding:10px;
	margin:5px 0;
	display:block;
}

.post-title{
	margin-top:50px;
}

button{

	background: #f4f4f4;	
}

.post-thumb{
	width:100%;
}

.pagination-links{
	margin:30px 0;

}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.cat-delete{
	margin-left:15px;
	display:inline;
} 

.navbar-brand{
	color:white;
}



.rightTopSide{
 	position: absolute;
  	right: 150px;
 	 width: 200px;
  	height: 120px;
  	border: 3px solid green;
}


