.p-home{
	margin-top:50px;
	padding-top:50px;
}

.h3-posts{
	margin-top:50px;
	margin-bottom:10px;
}

.image{
	margin-bottom: 25px;
}

.pagination-links{
	margin:30px 0;

}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;	
}
a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}


body {
  	font-family: "Lato", sans-serif;
  	background-color: #EEEEEE !important;
}

.sidenav {
 	height: 100%;
 	width: 250px;
 	margin-right:66%;
 	position: fixed;
	top: 0;
 	left: 0;
 	background-color: #2C3E50;
 	padding-top: 60px;
}

.sidenav a {
  	padding: 8px 8px 8px 32px;
 	text-decoration: none;
 	font-size: 25px;
 	color: #818181;
 	display: block;
 	transition: 0.3s;
}

.sidenav a:hover {
  	color: #f1f1f1;
}

.sidenav .closebtn {
 	position: absolute;
 	top: 0;
 	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

.nav-bottom{
  	position: absolute;
  	bottom: 0;
  	font-size: 36px;
  	
}	
.navbar-logo{
	padding-bottom: 50px;
	position:absolute;
	top: 5;
	right:80;
	font-size:20;
	font-style: oblique;
}

.nav-posts{
	margin-top:50px;
	
}
.nav-items{
	font-style: oblique;
}


.editor1{

}

.container{
	position:relative;
	width: auto !important;
}

.home-title{
	padding-top:30px;
    background-image: url("../images/home/HomeDefault.png");
    margin: auto;
    width: 100%;
    height: 100%;
    color: white;
    /*margin-left: -10px;
    margin-right: -12px; */

}	

.home-title h1{
	font-size: 100px;
	margin-top: 570px;
	text-shadow: 4px 4px #2C3E50;
	font-style: oblique;

}

.home-block{
	margin-left: 50px;
}

.main-container{
	padding: 0 !important;
	width: calc(100% - 270px) !important;
    margin-right: 12px !important;

}

.home-image{
	max-width: 100%;
 	 height: 100%;
 	 filter: brightness(30%);
}	

.navbarSide{
	width: 250px;
	float: left;	
	display: block;
}

.sign-up{
	margin-top: 15%;
	margin-left: 30%;	
}

.sign-in{
	margin-top: 5%;
	margin-left: 30%;
}


.form-control{
	margin-bottom: 3%;
}
.all-titles{
	color: #818181;
	font-size: 100px;
	text-shadow: 3px 3px #2C3E50;
	font-style: oblique;
	margin-bottom: 100px;

}

.about-blocks{
	font-size: 20px;
	margin-left: calc(100% - 95%) !important;

}

.contact-blocks{
	font-size: 20px;
	margin-left: calc(100% - 70%) !important;
}

.contact-blocksIcons{
	font-size: 20px;
	margin-left: calc(100% - 62.5%) !important;
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
	
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.posts-titles{
	font-weight: bold;
	margin-bottom: 5%;

}

.post-date{
	margin-top: -5% !important;
}

/*Eve go to za slikite */
.index-post-image{
	max-width: 50% !important;
    max-height: 50%;
    margin: auto !important;


}

.posts-blocks{
	font-size: 15px;
	margin-left: calc(100% - 99%) !important;
	margin-right: calc(100% - 70%) !important;
}

.read-more-title{
	font-weight: bold;
	margin-bottom: 5%;
}
.edit-block{
	font-size: 18px;	
	margin-left: calc(100% - 96%) !important;
}

.categories-view-block{
	font-size: 18px;	
	margin-left: calc(100% - 96%) !important;
}

.deleteButton {
  float: right;
}

.categories-text{
	
	margin: auto;
    display: block;
    float: left;
	font-size: 30px !important;
	text-decoration: none;
	color: black;
}

.category-label , .post-label{
	margin-top: 20px !important;
}

.categories-create-block{
	font-size: 18px !important;	
	margin-left: calc(100% - 96%) !important;
}